﻿/*************************
*******Colores de paleta******
***https: //coolors.co/000000-cf5c36-eee5e9-7c7c7c-009fb7***
**************************/

:root {
    --main-bg-color: #EEE5E9;
    --main-bg-resalta: #CF5C36;
    --main-bg-neutral: #7C7C7C;
    --main-bg-contraste: #009FB7;
    --main-txt-color: black;
    --claro-bd-color: #EFEFEF;
    --claro-bg-resalta: #F9EBE6;
    --claro-bg-neutral: #FDFCFC;
    --claro-bd-contraste: #D6FAFF;
    --claro-txt-color: #DFDFDF;
    --oscuro-bd-color: #6A4656;
    --oscuro-bg-resalta: #4F2213;
    --oscuro-bg-neutral: #2F2F2F;
    --oscuro-bg-contraste: #003C45;
    --oscuro-txt-color: #000000;
    --verde-sarra: #35CE48;
    --main-padding: 15px;
}


/*************************
*******Typography******
**************************/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);
body {
    font-family: 'Roboto', sans-serif;
    background: var(--main-bg-color);
    position: relative;
    font-weight: 400px;
}

ul li {
    list-style: none;
}

a:hover {
    outline: none;
    text-decoration: none;
}

a:focus {
    outline: none;
    outline-offset: 0;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

.bg-naranja {
    background-color: var(--main-bg-resalta);
}

.bg-azul {
    background-color: var(--main-bg-contraste);
}

.bg-verde-sarra {
    background-color: var(--verde-sarra);
}

.header {
    display: flex;
}

.cuenta {
    display: flex;
    justify-content: end;
    text-align: end;
    align-self: end;
}

.btn-primary {
    background-color: var(--oscuro-bg-contraste);
}